@import "csshake/scss/csshake.scss";


.uk-result-image-0 {
    border-radius: 4px;
    border: 8px solid $global-color;
}


.uk-result-label-0{
    background-color: $global-color;
}


.uk-result-image-1 {
    border-radius: 4px;
    border: 8px solid #cd7f32;
}


.uk-result-label-1{
    background-color: #cd7f32;
}


.uk-result-image-2 {
    border-radius: 4px;
    border: 8px solid $global-pink-background;
}


.uk-result-label-2{
    background-color: $global-pink-background;
}


.uk-result-image-3 {
    border-radius: 4px;
    border: 8px solid #D4AF37;
}


.uk-result-label-3{
    background-color: #D4AF37;
}